@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: Inter, sans-serif;
}


nav {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 58px;
    display: flex;
    background: #fff;
    box-shadow: 0px 4px 40px -15px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
}
  
.title{
    font-weight: 700;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    transition: 0.9s;
}
  
.title:hover{
    text-shadow: 0 0 10px #37268c;
    color:white;
    transition: 0.5s;
}
  
.navbar {
    font-weight: 400;
    display: flex;
    list-style-type: none;
    align-items: center;
}
  
.navtool {
    display: flex;
    margin-right: 30px;
    padding: 4px;
    transition: 0.3s;
}
  
.navtool:hover{
    font-weight: 600;
    transition: 0.3s;
  
}

h1{
    margin-left: 20px;
}

.cards{
    margin-right: 20px;
    padding: 20px;
    width: 206px;
    height: 358px;
    border: 1px solid #F5F5F5;
    transition: 0.5s;
    padding-top: 0px;
    margin-bottom: 25px;

}

.cards:hover{
    border: 1px solid white;
    transition: 0.5s;
    box-shadow: 5px 5px 55px #37268c98;
}

.visualizar{
    width: 266px;
    height: 154px;
    margin-bottom: 10px;
    max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.visualizar:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1); 
}

.descricao{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

h5{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.carrinho{
    display:flex;
    font-size: 14px;
    padding-top: 10px;
    align-items:baseline;
}

.carrinho:hover{
    color: #37268c;
    font-weight: 700;
}

.tipo{
    color: white;
    padding: 3px;
    font-size: 12px;
    background-color: #2E245E;
}

.tipo:hover{
    background-color: #37268c;
}

.valor{
    font-weight: 600;
    font-size: 14px;
    color:#2E245E;
}

.menuLateral{
    padding: 10px;
    margin: 20px;
    margin-top: 66px;
    background-color: white;
    width: 605px;
    height:500px;
}

.mae{
    display:flex;
}

input{
    border: none;
    width: 190px;
    height: 35px;
    background-color: #F5F5F5;
    padding-left: 5px;
}

button{
    border: none;
    width: 100px;
    height: 35px;
    background-color: #2E245E;
    color: white;
}

button:hover{
    background-color: #37268c;
}

h4{
    padding: 5px;
    background-color: #2E245E;
    color: white;
    font-weight: 500;
    font-size: 14px;
}
.cart{
    text-align: center;
    width: 300px;
    height: 320px;
    margin-top: 20px;
    background-color: #F5F5F5;
}

.cartSpan{
    margin-top: 90px;
    font-weight: 600;
    font-size: 25px;
    padding-top: 10px;
}

input:focus{
    box-shadow: 0 0 5px #2E245E;
    border: 0 none;
    outline: 0;
}

.vitrine{
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 100px;
}

.menuLateral{
    margin-right: 90px;
    margin-top: 90px;
}